.Counter{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  height: 300px;
} 

button{
  height: 100px;
  width: 200px;
  font-size: 25px;
}

p{
  font-size: x-large;
}